body {
    height: 50vh;
    margin: 0;
    background: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    background-repeat: no-repeat;
    font-family: 'Droid Sans';
}
.todo-app {
    max-width: 200px;
    min-height: 50px;
    margin: 50px auto;
    padding-bottom: 20px;
    background: rgba(255,255,255, .4);
    border-radius: 5px;
    box-shadow: 0 0 4px #666666;
}
.header {
    padding-top: 10px;
    text-align: center;
    font-family: 'Lucida Calligraphy';
    font-weight:100;
    color: #83b7d3;
}
.add-item-form {
    width: 50%;
    height: 20px;
    margin: 0 auto;
    padding-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-item-input {
    width: 60%;
    height: 300%;
    padding: 0 10px;
    font-family: 'Lucida Calligraphy';
    border: 1px solid transparent;
}
.add-item-button {
    width: 20%;
    height: 100%;
    text-transform: uppercase;
    background: #add8e6;
    border: 1px solid transparent;
    font-family: 'Lucida Calligraphy';
    font-weight: 600;
    transition: .3s;
}
.add-item-button:hover, .add-item-button:focus {
    cursor: pointer;
    background: #67a8bc;
}
.add-item-info {
    width: 100%;
    position: absolute;
    left: 5px;
    bottom: -20px;
    font-family: 'Lucida Calligraphy';
    font-weight: 600;
    color: #f4424e;
}
.todo-list {
    width: 90%;
    margin: 20px auto;
    padding: 0;
    list-style: none;
}
.todo-item {
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Lucida Calligraphy';
    font-size: 18px;
    border-bottom: 1px dashed #999999;
}
.todo-item-name {
    margin-left: 5px;
    color: #434343;
}
.todo-item-name:hover, .todo-item-name--completed:hover {
    cursor: pointer;
}
.todo-item-name--completed {
    margin-left: 5px;
    text-decoration: line-through;
    color: #999999;
}
.todo-item-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.editing-form-input {
    padding: 5px;
    background: rgba(0, 0, 0, .1);
    border: none;
    font-family: 'Shadows Into Light';
    font-size: 18px;
    color: #666666;
}
.buttons {
    border: 1px solid red;
}
.button {
    height: 100%;
    margin: 5px;
    padding: 5px 15px;
    background: rgba(255,255,255, .6);
    border: none;
    font-family: 'Lucida Calligraphy';
    font-weight: 600;
    transition: .3s;
}
.button:hover, .button:focus {
    cursor: pointer;
    background: #add8e6;
    color: #ffffff;
}
